body,
html {
    height: 100%;
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    font-family: system-ui;
    text-align: center;
    color: var(--dark);
    background-color: var(--light);
}

* {
    box-sizing: border-box;
}

header,
footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

:is(header, footer)>* {
    margin: 0;
}

main {
    padding: 0 1rem;
}

button {
    margin: 0;
    border: 0;
    text-align: inherit;
    color: inherit;
    cursor: pointer;
    font-size: inherit;
    background-color: var(--back);
    padding: 0.45rem 1rem;
    border-radius: 0.25rem;
    user-select: none;
    -webkit-user-select: none;
}

button:hover {
    background-color: var(--hover);
}

button:hover:active {
    background-color: var(--active);
}

a {
    color: inherit;
}