main {
    position: relative;
    padding: 0 1rem;
}

#board {
    display: grid;
    grid-template-columns: repeat(var(--cols), auto);
    max-block-size: 100%;
    aspect-ratio: 1/2;
    position: absolute;
    inset: 0;
    margin: auto;
    gap: 2px;
    user-select: none;
    -webkit-user-select: none;
}